p { color: red; }

html { 
background-color: #00539F;
 }

h1 { 
	font-family: 'Tangerine', serif;
	font-size: 60px;
	text-align: center;
	text-shadow: 4px 4px 4px #aaa;
}

p, li {
font-family: "andalus";
font-size: 22px;
line-height:1;
letter-spacing: 2px;
}

body {
width: 600px;
margin: 0 auto;
background-color: #ff9500;
padding: 0 20px 20px 20px;
border: 5px solid black;
}

h1 {
margin: 0;
padding: 20px 0;
text-shadow: 3px 3px 1px blue;
}

img {
display: block;
margin: 0 auto;
}

a {text-decoration: none; }	